/********* OUR SERVICES SUB PAGE *********/
.ourServicesSubpage .light-background {
    padding: 100px 0 216px;
}

.ourServicesSubpage h1 {
    color: #173c88;
    font-size: 136px;
    font-weight: 700;
    letter-spacing: 4.08px;
    line-height: 132px; /* 97.059% */
    margin: 40px 0 240px;
    text-align: center;
}

.ourServicesSubpage h2 {
    color: #173c88;
    font-size: 53px;
    font-weight: 700;
    line-height: 40px; /* 75.472% */
    margin-bottom: 104px;
}

.ourServicesSubpage .services {
    gap: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.ourServicesSubpage .service:nth-child(2) {
    margin-left: 287px;
}

.ourServicesSubpage .service:nth-child(3) {
    margin-left: 574px;
}

.ourServicesSubpage .service:nth-child(4) {
    align-self: end;
}

.ourServicesSubpage .service {
    width: 460px;
}

.ourServicesSubpage .services h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 40px; /* 142.857% */
}

.ourServicesSubpage .vector1 {
    position: absolute;
    top: 0;
    align-self: end;
}

.ourServicesSubpage .vector2 {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: bottom left;
    top: 300px;
}

.ourServicesSubpage .techStack {
    padding: 419px 0 216px;
    text-align: center;
}

.ourServicesSubpage .techStack .techStackImages {
    gap: 90px;
    display: flex;
    justify-content: center;
}

.ourServicesSubpage .techStack .techStackImage {
    width: auto;
}
